CONFIG=/nas/containers/pihole/config
DNSMASQ=/nas/containers/pihole/dnsmasq
HOSTIP=192.168.0.120
HTTPPORT=2052
HTTPSPORT=2053
NETWORKNAME=dnsnet
PIHOLEINTERNALIP=172.20.53.2
DOHINTERNALIP=172.20.53.3
WEBPASSWORD=P@ssw0rd
EXTERNALDNS1=1.1.1.1
EXTERNALDNS2=1.0.0.1
